body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: aquamarine;  

}
.container{
    text-align: center;
}
.container img{
    
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0);
    width: 350px;
    height:350px;
    
}
.btn{
    background-color: palevioletred;
    border-radius: 15px;
    margin:20px;
    padding:10px;
    font-size: 20px;
    color:white;
    font-style: italic;

}
.btn:hover{
    opacity: 1;
    color:black;
    font-weight: bold;
}